html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-all duration-500 ease-in-out;
}

::selection {
  background-color: transparent;
  color: #EF4444; /* Same red color as your name */
}

.light-mode {
  @apply bg-lightBackground text-customGray;
}

.dark-mode {
  @apply bg-darkBackground text-white;
}

/* Custom highlight styles */
::selection {
  background-color: transparent;
  color: #EF4444; /* Same red color as your name */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@layer utilities {
  .scale-2x {
    transform: scale(2); /* Double the size */
  }
  .scale-3x {
    transform: scale(3); /* Triple the size */
  }
  .text-balance {
    text-wrap: balance;
  }
  .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
  }
}